body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.task-list-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


.task-item {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.add-task {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.task-item:hover {
  transform: scale(1.02);
}

.etat {
  color: green;
  font-style: italic;
}

.non-terminée {
  color: red;
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.3s;
}

.remove-btn:hover {
  color: #d32f2f;
}

.state-btn {
  background-color: transparent;
  border: none;
  color: #2196f3;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.3s;
}

.state-btn:hover {
  color: #1976d2;
}

.add-task {
  margin-top: 20px;
  text-align: center;
}

.task-input {
  flex: 1 1 45%;
  min-width: 150px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}


.task-input:focus {
  border-color: #2196f3;
  outline: none;
}

.add-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 1 100%;
  max-width: 150px;
}

.add-btn:hover {
  background-color: #1976d2;
}
