<div class="container">
  <div class="task-list-container">
    <h1 class="title">Liste des Tâches</h1>
    <ul class="task-list">
      <li *ngFor="let task of tasks; let i = index" class="task-item">
        <span [routerLink]="['/task', i]" class="task-name">{{ task.name }}</span>
        <button class="remove-btn" (click)="removeTask(i)">Supprimer</button>
        <button class="state-btn" (click)="changeTaskState(i)">
          {{ task.completed ? "Terminée" : "Non terminée" }}
        </button>
       
        <button class="detail-btn" [routerLink]="['/task-detail', i]">Détail</button>
      </li>
    </ul>
  </div>

  <div class="add-task">
    <input
      type="text"
      [(ngModel)]="newTaskName"
      placeholder="Nom de la tâche"
      class="task-input"
    />
    <input type="date" [(ngModel)]="newTaskDueDate" class="task-input" />
    <input
      type="text"
      [(ngModel)]="newTaskAssignedUser"
      placeholder="Utilisateur assigné"
      class="task-input"
    />
    <select [(ngModel)]="newTaskType" class="task-input">
      <option value="Général">Général</option>
      <option value="Important">Important</option>
      <option value="Urgent">Urgent</option>
    </select>
    <select [(ngModel)]="newTaskPriority" class="task-input">
      <option value="Normal">Normal</option>
      <option value="Haute">Haute</option>
      <option value="Basse">Basse</option>
    </select>
    <button class="add-btn" (click)="addTask()">Valider</button>
  </div>
</div>
